/visao/build/web/WEB-INF/lib/git/Projeto-Primefaces-esw2012/visao/dist/
/visao/build/web/WEB-INF/lib/git/Projeto-Primefaces-esw2012/bo/build/
/visao/build/web/WEB-INF/lib/git/Projeto-Primefaces-esw2012/bo/dist/
/visao/build/web/WEB-INF/lib/git/Projeto-Primefaces-esw2012/bo/nbproject/private/
/visao/build/web/WEB-INF/lib/git/Projeto-Primefaces-esw2012/dao/build/
/visao/build/web/WEB-INF/lib/git/Projeto-Primefaces-esw2012/dao/dist/
/visao/build/web/WEB-INF/lib/git/Projeto-Primefaces-esw2012/dao/nbproject/private/
/visao/build/web/WEB-INF/lib/git/Projeto-Primefaces-esw2012/visao/build/
/visao/build/web/WEB-INF/lib/git/Projeto-Primefaces-esw2012/visao/nbproject/private/